<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- These settings already exist in NF config files, but the values are usually false. -->
		<add key="debugMode" value="true" />
		<add key="Always Rethrow Exceptions" value="true" />
		<add key="Trace" value="true" />
	</appSettings>
	<system.webServer>
		<!-- Gives you more detailed information with HTTP 500-level errors. -->
		<httpErrors errorMode="Detailed" />
	</system.webServer>
	<system.web>
		<!-- Ensures that you can see stack traces for unhandled exceptions- only do this in a local environment. -->
		<customErrors mode="Off" />
		<!-- Turns on ASP.NET tracing- go to /trace.axd to see the request traces. -->
		<trace enabled="true" requestLimit="25" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<compilation debug="true" />
	</system.web>
	<system.net>
		<!-- 
			Uncomment this block to force all requests from this application through Fiddler. 
			This is useful to see calls being made by the application out to other systems (e.g. payment processors, address validation)
			https://www.telerik.com/blogs/capturing-traffic-from-.net-services-with-fiddler
		-->
		<!--
		<defaultProxy enabled = "true" useDefaultCredentials = "true">
			<proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://127.0.0.1:8888" usesystemdefault="false" />
		</defaultProxy>
		-->
	</system.net>
</configuration>